.container {
    width: 100%;
    min-height: 100vh;
    /* display: grid;
    flex: 1 0 auto;
    align-items: center; */
    padding-bottom: 1.5rem;
    padding-inline: 2rem;
    background-color: #191919;
    color: white;
    text-align: center;
    overflow: hidden; /*esconder a barra de rolagem do component container*/
}