* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* formatação da barra de rolagem */
body::-webkit-scrollbar {
  width: 12px;
  background-color: #222;
}

/* cor do fundo da barra de rolagem */
body::-webkit-scrollbar-track {
  background: #222;
}

body::-webkit-scrollbar-thumb {
  background-color: #b71c1c; /*cor do scroll da barra de rolagem*/
  border-radius: 20px; /*arredondar o scroll*/
  border: 3px solid #222; /*criar um espaço em volta do scroll*/
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
